# Laravel-specific files
/vendor/*
/vendor/
vendor/

/node_modules/*
/node_modules/
node_modules/

/storage/*.key
/public/storage
/public/hot
/bootstrap/compiled.php
/.phpunit.cache
/.phpunit.result.cache

# Laravel Mix
/public/css/
/public/js/
/public/mix-manifest.json
/css/
/js/
/fonts/
/images/
mix-manifest.json

# Logs & debug
npm-debug.log
yarn-error.log
*.log

# Environment files
.env
.env.*
!.env.example

# Backup & local variants
*.env.backup
*.env.local
*.env.production
*.env.debugging
*.env.*.local

# Homestead
Homestead.yaml
Homestead.json
/.vagrant/
/auth.json

# Docker-specific
docker-compose.yml
docker-compose.*
docker-compose.override.yml
docker-compose.prod.yml
/.docker/*
/.fleet/*
/docker/*

# Laravel Sail
/.sail/
/sail

# Tests and stubs (optional)
/tests/
/stubs/

# IDEs and editors
/.idea/
/.vscode/
/.zed/
/.nova/
/.phpactor.json

# Miscellaneous
.DS_Store
Thumbs.db
*.sql
*.zip
*.tar.gz
*.rar
*.swp
*.swo
*.bak
*.tmp
*.cache
*.rnd
_ide_helper.php
.editorconfig

# Possibly not needed (optional)
/sitemap.xml
/robots.txt
/commands.txt
*.txt
*.bat
*.sh
.cursorindexingignore
.specstory/
