.group-1136 {
    margin-bottom: 88px;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
      padding-left: var(--space-7xl);
      padding-right: var(--space-7xl);
    }
  }
  
  .group-1376 {
    margin-top: 12px;
    padding-left: var(--space-6xl);
    padding-right: var(--space-6xl);
    align-self: center;
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  
    @media only screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  
  .frame-34854 {
    margin-top: 56px;
    padding-left: 44px;
    padding-right: 44px;
    gap: var(--space-13xl);
    align-self: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
      padding-left: var(--space-7xl);
      padding-right: var(--space-7xl);
    }
  
    @media only screen and (max-width: 550px) {
      align-self: stretch;
    }
  }
  
  .frame-34852 {
    gap: var(--space-12xl);
    display: flex;
    align-self: stretch;
    flex-direction: column;
  }
  
  .frame-34851 {
    gap: var(--space-13xl);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .frame-34850 {
    margin-left: 10px;
    margin-right: 10px;
    gap: var(--space-5xl);
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  .forgot-password-link {
    margin-left: 96px;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
    }
  }
  
  .vector-3-4 {
    height: 1px;
    background-color: var(--blue_gray_900_03);
    width: 90%;
  }
  
  .group-1000003918-4 {
    color: var(--red_300) !important;
    padding-left: var(--space-5xl);
    padding-right: var(--space-5xl);
    letter-spacing: -0.25px;
    font-size: 18px;
    gap: var(--space-5xl);
    border-color: var(--blue_gray_900_02);
    border-width: 1px;
    background-color: var(--white_a700_01) !important;
    width: 90%;
    height: 54px;
    border-radius: 10px !important;
  }
  
  .group-1000003915-2 {
    color: var(--white_a700_01) !important;
    padding-left: var(--space-14xl);
    padding-right: var(--space-14xl);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--blue_900) !important;
    height: 52px;
    min-width: 470px;
    border-radius: 26px !important;
    @media only screen and (max-width: 550px) {
      padding-left: var(--space-7xl);
      padding-right: var(--space-7xl);
    }
  }
  